## 1.7 Introduction to Python

### 1.7.1 Declaring Variables

In [1]:
var1 = 2
var2 = 5.0
var3 = True
var4 = "Machine Learning"

In [2]:
print("Value of var1 :", var1)
print("Value of var2 :", var2)
print("Value of var3 :", var3)
print("Value of var4 :", var4)

Value of var1 : 2
Value of var2 : 5.0
Value of var3 : True
Value of var4 : Machine Learning

In [3]:
type( var1 )

int

In [4]:
type( var2 )

float

In [5]:
type(var3)

bool

In [6]:
type(var4)

str

### 1.7.2 Conditional Statements

In [7]:
# Checking a condition if the variable value is more than 1
if var1 > 1:
    print( "Bigger than 1" )

Bigger than 1

In [8]:
x = 10
y = 12

# if x is greater than y
if x > y:
    print ("x > y")
# if x is lesser than y    
elif x < y:
    print ("x < y")
else:        
    print ("x = y")

x < y

In [9]:
# Initialize
x = 5

# Assign True if x is more than 10 or assign False using ternary operator
isGreater = True if x > 10 else False

In [10]:
isGreater

False

### 1.7.3 Generating Sequence Numbers

In [11]:
# Initializing the sequence of numbers starting from 1
# and ending (not including) with 6
numbers = range( 1, 6)

numbers

range(1, 6)

In [12]:
# print the numbers as a list
list(numbers)

[1, 2, 3, 4, 5]

In [13]:
# Initializing the sequence of numbers starting from 5
# and ending (not including) with 15 with a step of 2
numbers = range( 5, 15, 2)

list(numbers)

[5, 7, 9, 11, 13]

### 1.7.4 Control Flow Statements

In [14]:
# Iterate through the collection
numbers = range( 1, 6)
for i in numbers:
    print (i)

1
2
3
4
5

In [15]:
# Initialize the value of 1
i = 1

# check the value of i to check if the loop will be continued or not
while i < 5:
    
    print(i)
    # Increment the value of i.
    i = i+1
    
# print after the value of i
print('Done')

1
2
3
4
Done

### 1.7.5 Functions

In [16]:
def addElements( a, b ):
    return a + b

In [17]:
result = addElements( 2, 3 )

result

5

In [18]:
result = addElements( 2.3, 4.5 )

result

6.8

In [19]:
result = addElements( "python", "workshop" )

result

'pythonworkshop'

In [20]:
def addElements( a, b = 4 ):
    return a + b

In [21]:
addElements( 2 )

6

In [22]:
addElements( 2, 5 )

7

### 1.7.6 Working with Collections

#### 1.7.6.1 List

In [23]:
## Create an empty list
emptyList = []

In [24]:
batsmen = ['Rohit', 'Dhawan', 'Kohli', 'Rahane', 'Rayudu', 'Dhoni']

In [25]:
batsmen[0]

'Rohit'

In [26]:
## Slicing an list
batsmen[0:2]

['Rohit', 'Dhawan']

In [27]:
## Accessing the last element
batsmen[-1]

'Dhoni'

In [28]:
batsmen[-3:]

['Rahane', 'Rayudu', 'Dhoni']

In [29]:
# how many elements in the list
len( batsmen )

6

In [30]:
bowlers = ['Bumrah', 'Shami', 'Bhuvi', 'Kuldeep', 'Chahal']

In [31]:
all_players = batsmen + bowlers

In [32]:
all_players

['Rohit',
 'Dhawan',
 'Kohli',
 'Rahane',
 'Rayudu',
 'Dhoni',
 'Bumrah',
 'Shami',
 'Bhuvi',
 'Kuldeep',
 'Chahal']

In [33]:
'Bumrah' in bowlers

True

In [34]:
'Rayudu' in bowlers

False

Finding the index of an item in the list.

In [35]:
all_players.index( 'Dhoni' )

5

In [36]:
all_players.reverse()

all_players

['Chahal',
 'Kuldeep',
 'Bhuvi',
 'Shami',
 'Bumrah',
 'Dhoni',
 'Rayudu',
 'Rahane',
 'Kohli',
 'Dhawan',
 'Rohit']

#### 1.7.6.2 Tuples

In [37]:
odiDebut = ( 'Kohli', 2008 )

In [38]:
odiDebut

('Kohli', 2008)

In [39]:
odiDebut[0]

'Kohli'

In [40]:
odiDebut[1] = 2009

TypeError: 'tuple' object does not support item assignment

In [41]:
players = tuple( all_players )

In [42]:
players

('Chahal',
 'Kuldeep',
 'Bhuvi',
 'Shami',
 'Bumrah',
 'Dhoni',
 'Rayudu',
 'Rahane',
 'Kohli',
 'Dhawan',
 'Rohit')

#### 1.7.6.3 Set

In [43]:
setOfNumbers = {6,1,1,2,4,5}

In [44]:
setOfNumbers

{1, 2, 4, 5, 6}

In [45]:
wc2011 = {"Dhoni", "Sehwag", "Tendulkar", "Gambhir", "Kohli", "Raina", "Yuvraj", "Yusuf"}
wc2015 = {"Dhoni", "Dhawan", "Rohit", "Rahane", "Kohli", "Raina", "Rayudu", "Jadeja"}

In [46]:
wc2011.union( wc2015 )

{'Dhawan',
 'Dhoni',
 'Gambhir',
 'Jadeja',
 'Kohli',
 'Rahane',
 'Raina',
 'Rayudu',
 'Rohit',
 'Sehwag',
 'Tendulkar',
 'Yusuf',
 'Yuvraj'}

In [47]:
wc2011.intersection( wc2015 )

{'Dhoni', 'Kohli', 'Raina'}

In [48]:
wc2015.difference( wc2011 )

{'Dhawan', 'Jadeja', 'Rahane', 'Rayudu', 'Rohit'}

In [49]:
# The difference betwee two sets can also be written as follows
wc2015 - wc2011

{'Dhawan', 'Jadeja', 'Rahane', 'Rayudu', 'Rohit'}

#### 1.7.6.4 Dictionary

In [50]:
wcWinners = { 1975: "West Indies", 
              1979: "West Indies", 
              1983: "India",
              1987: "Australia",
              1991: "Pakistan",
              1996: "Srilanka",
              1999: "Australia",
              2003: "Australia",
              2007: "Australia",
              2011: "India"}

In [51]:
wcWinners[1983]

'India'

In [52]:
wcWinners.values()

dict_values(['West Indies', 'West Indies', 'India', 'Australia', 'Pakistan', 'Srilanka', 'Australia', 'Australia', 'Australia', 'India'])

In [53]:
set(wcWinners.values())

{'Australia', 'India', 'Pakistan', 'Srilanka', 'West Indies'}

In [54]:
wcWinners[2015] = 'Australia'

In [55]:
wcWinners

{1975: 'West Indies',
 1979: 'West Indies',
 1983: 'India',
 1987: 'Australia',
 1991: 'Pakistan',
 1996: 'Srilanka',
 1999: 'Australia',
 2003: 'Australia',
 2007: 'Australia',
 2011: 'India',
 2015: 'Australia'}

### 1.7.7 Dealing with Strings

In [56]:
string0 = 'python'
string1 = """machine" learning"""

In [57]:
string2 = """This is a 
 multiline string"""

In [58]:
# Converting to upper case
string0.upper()
# Similarly string.lower() can be used to convert to lower case.
# string0.lower()

'PYTHON'

In [59]:
tokens = string1.split()
tokens

['machine"', 'learning']

### 1.7.8 Functional Programming
#### 1.7.8.1 Example 1: Map

In [60]:
intList = [1,2,3,4,5,6,7,8,9]

In [61]:
# Create an empty list.
squareList = []

# Loop through the intList, square every item and append to result list squareList.
for x in intList:
    squareList.append( pow( x, 2 ) )

print( squareList )

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [62]:
def square_me( x ):
    return x * x

In [63]:
squareList = map( square_me, intList)

In [64]:
list(squareList)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [65]:
squareList = map(lambda x: x*x, intList)
list(squareList)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [66]:
# Uses list comprehension, a Python feature, to iterate over intList, square each element, 
# and create a list of squared values.
squareList = [x*x for x in intList]

In [67]:
squareList

[1, 4, 9, 16, 25, 36, 49, 64, 81]

#### 1.7.8.2 Example 2: Filter

In [68]:
evenInts = filter( lambda x : x % 2 == 0, intList )

In [69]:
list( evenInts )

[2, 4, 6, 8]

In [70]:
# Can also use list comprehension to iterate over intList and filter out even numbers
evenInts = [x for x in intList if x%2==0]

In [71]:
evenInts

[2, 4, 6, 8]

### 1.7.9 Modules and Packages

In [72]:
import math

## Taking square root of a value
math.sqrt(16)

4.0

In [73]:
from random import sample

In [74]:
sample( range(0, 11), 3)

[1, 5, 4]

### 1.7.10 Other Features

In [75]:
import random 

randomList = random.sample( range(0, 100), 20)

randomList

[94, 78, 75, 52, 69, 71, 95, 21, 10, 45, 43, 91, 3, 47, 15, 18, 59, 19, 67, 41]

In [76]:
from statistics import mean, median

def getMeanAndMedian( listNum ):
    return mean(listNum), median(listNum)

In [77]:
mean, median = getMeanAndMedian( randomList )

In [78]:
print( "Mean: ", mean, " Median: ", median)

Mean:  50.65  Median:  49.5